// Duplicate texastribune data charts
.chart-data {
  font-family: sans-serif;
  font-size: 12px;
}

.wide-chart-wrapper {
  overflow-x: auto;
  tr > *:first-child {
    // make sure headers don't get split so rows are the same height
    white-space: nowrap;
  }
}

.chart-viz {
  height: 300px;

  &.loading {
    background: url(../../../common/images/ajax_bar.gif) no-repeat scroll 50% 50% #eee;
  }

  .axis {
    // copy .chart-data's style
    font-family: sans-serif;  // TODO inherit sans-serif
    font-size: 12px;

    text {
      fill: #333;
    }
  }
}

.chart-help {
  // chart help items should be spaced apart
  .item + .item {
    margin-top: 0.3em;
  }
}

svg {
  .axis {
    shape-rendering: crispEdges;
  }

  .axis .domain {
    display: none;
  }

  .y.axis line {
    stroke: #000;
  }

  .sealevel {
    stroke: rgba(30, 30, 80, 0.4);
  }

  .demarcation {
    stroke: #444;
    // stroke-width: 3px;
  }
}

.chart-legend {
  font-family: sans-serif;
  font-size: 12px;

  ul {
    list-style: none;
    margin: 0;
  }
  .legend-key {
    margin-right: 5px;
  }
}

// inactive links shouldn't get interactive pointer
.legend li.inactive > a { cursor: inherit; }

// override .bootstrap .nav > li > a:hover
.bootstrap .legend li.inactive > a:hover { background-color: transparent; }

// override .bootstrap .nav-pills > li > a
.bootstrap .legend .nav-pills > li > a { padding: 6px 12px; }

// override .bootstrap a, .bootstrap a:hover;
.legend a, legend a:hover { color: inherit; }
