// rail

.rail {
  .search {
    h4 {
      font-size: 12px;
      margin-bottom: 2px;
    }
  }
  .q {
    // !important to override random bootstrappyness
    // could also just use a more specific selector
    font-size: 12px !important;
    // TODO set a wider width
  }
}
