.chart-viz {
  height: 300px;

  .axis {
    // copy .chart-data's style
    font-family: sans-serif;  // TODO inherit sans-serif
    font-size: 12px;

    text {
      fill: #333;
    }
  }
}

svg {
  .axis {
    shape-rendering: crispEdges;
  }

  .axis .domain {
    display: none;
  }

  .y.axis line {
    stroke: #000;
  }

  .sealevel {
    stroke: rgba(30, 30, 80, 0.4);
  }
}
