.chart {
  height: 300px;
}

svg {
  .axis {
    shape-rendering: crispEdges;
  }

  .axis .domain {
    display: none;
  }

  .y.axis line {
    stroke: #000;
  }

  .sealevel {
    stroke: rgba(30, 30, 80, 0.4);
  }
}
