// variables

// Colors
// -------------------------
$blue: #0074CC;
$tan:  #DACD99;


// Typography
// -------------------------
$sansFontFamily:        Helvetica, Arial, sans-serif !default;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif !default;
