/*
  Texas Higher Ed App CSS
  assumes bootstrap
*/


@import "variables";

@import "chart";
@import "map";

@import "rail";
@import "print";

#intro p {
  line-height: 1.35;
  margin: 0.5em 0;
}


// make sure currency is text-align right
#pricetrends {
  .chart-data {
    tbody td { text-align: right; }
    .dollar {
      color: #666;
    }
    .currency {
      margin-right: 14px;  // XXX using margin for position
    }
  }
}


// use visiblity because display:none affects box size calculations
h2, h3 {
  > .page-anchor { visibility: hidden; }
  &:hover > .page-anchor { visibility: visible; }
}

td.align-right {
  text-align: right;
  .ui-tablebar { right: 0 ; }
}

th {
  aside {
    display: inline-block !important;
    width: 10%;
  }
}

// UI
.ui-tablebar { color: #333; background: $tan; }

.onion-item, .onion-legend-item { display: inline-block; text-align: center; width: 100px; }
.nav-pills .onion-legend-item { float: none; }
.funnel { width: 100%; }
.funnel .bar { background: $blue; margin: 0 auto; overflow: hidden; text-indent: 110%; }

.ui-onion-item-active .bar { outline: 1px solid black; background: transparent; }

.sentences {
  font-family: $sansFontFamily;
  font-size: 0.9em;
}

.higher-ed {
  // p {
  //   font-family: Helvetica;
  //   font-size: 0.9em;
  // }

  .landing {
    padding-top: 0.75em;
    font-family: $sansFontFamily;
    .map-container {
      position: relative;

      button {
        position: absolute;
        left: 33%;
        width: 33%;
        display: block;
        z-index: 1000;
      }
    }
  }

  .presented_by {
    font-family: $serifFontFamily;
    font-size: 12.75px;  // match the public schools explorer
    text-align: center;

    p {
      // override .bootstrap p
      margin-bottom: 0;  // margin does not play well with wells

      white-space: nowrap;  // don't let browsers create widows
    }

    .logo {
      border-width: 1px 0px;
      border-style: solid;
      padding: 20px 0 20px;
      border-color: rgba(0, 0, 0, 0.1);
      margin: 1em 0;
    }

    // shrink and center .logo img
    img {
      display: block;
      margin: 0 auto;
      width: 202px;
    }
  }

  table.data-source {
    display: none;
  }

  .admissions {
    tbody td {
      small { display: block; }
    }
  }
}

.data-app {
  .app-header {
    h1 {
      font-family: "freight-sans-pro-n9", "freight-sans-pro", sans-serif;
      font-weight: 900;
      font-size: 2.75em;
      text-transform: uppercase;
      height: 60px;

      img {
        margin-right: 5px;
      }

      a {
        color: #222;
        text-decoration: none;
      }

      small {
        font-family: $sansFontFamily;
        display: block;
        font-size: 0.45em;
        text-transform: none;
        margin-left: 3.5em + 0.15em; // 3.5em is the width of the icon
      }
    }
  }

  .page-header {
    font-family: $sansFontFamily;
    border-bottom-color: #eee;
  }

  // section headings, h2 is reserved for future expansion (e.g. h2 enrollment,
  // h3 by ethnicity, h3 by gender, h3 by age, h3 by geographic origin)

  h1, h2, h3 {
    font-family: $sansFontFamily;
  }

  .rollup {
    font-family: $sansFontFamily;
    font-size: 20px;  // consistent with Public Ed
  }

  .input-append .add-on:hover {
    cursor: pointer;
  }

  #attribution {
    font-family: $sansFontFamily;
    font-size: 90%;
    margin-top: 2em;
    margin-bottom: -2em;
    i {
      height: 1.2em;
      vertical-align: middle;
    }
  }
}

.bootstrap {
  .well {
    background-color: whiteSmoke;
  }
}

dfn {
  font-weight: inherit;
  border-bottom: 1px dotted #222;
  &:hover {
    cursor: help;
  }
}

// fixes for elements getting shoved into the breadcrumb
.bootstrap .breadcrumb {
  // assumes there's a .btn element, but there isn't
  .btn-group > .dropdown-toggle {
     padding-left: 0;
     padding-right: 0;
  }
  .btn-group.open .dropdown-toggle { box-shadow: none; }

  .dropdown-menu {
    .active a {
      color: white;
    }
    li {
      display: block;
    }
  }

  .navbar-search {
    margin-top: -1px;
  }
}

.no-js .requires-js {
  display: none !important;
}

.no-svg .requires-svg {
  display: none;
}
