/*
  Texas Higher Ed App CSS
  assumes bootstrap
*/


@import "variables";

@import "svg";


#intro p { font-size: 1.25em; }


// make sure currency is text-align right
#pricetrends .chart-data {
  tbody td { text-align: right; }
  .dollar {
    color: #666;
  }
  .currency {
    margin-right: 14px;  // XXX using margin for position
  }
}


// use visiblity because display:none affects box size calculations
h2 > .page-anchor { visibility: hidden; }
h2:hover > .page-anchor { visibility: visible; }

td.align-right {
  text-align: right;
  .ui-tablebar { right: 0 ; }
}

// UI
.ui-tablebar { color: #333; background: $tan; }

.onion-item, .onion-legend-item { display: inline-block; text-align: center; width: 100px; }
.nav-pills .onion-legend-item { float: none; }
.funnel { width: 100%; }
.funnel .bar { background: $blue; margin: 0 auto; overflow: hidden; text-indent: 110%; }

.ui-onion-item-active .bar { outline: 1px solid black; background: transparent; }

.higher-ed {
  .landing {
    .q { width: 95%; }

    .map-container {
      position: relative;

      button {
        position: absolute;
        left: 33%;
        width: 33%;
        display: block;
        z-index: 1000;
      }
    }
  }

  table.data-source {
    display: none;
  }

  .admissions {
    tbody td {
      small { display: block; }
    }
  }
}

.data-app {
    .app-header {
        background: url(./icon.png) no-repeat left;
        background-position-y: 3px;

        h1 {
            font-family: "freight-sans-pro-n9", "freight-sans-pro", sans-serif;
            font-weight: 900;
            font-size: 2.75em;
            text-transform: uppercase;
            height: 60px;
            padding-left: 70px;

            a {
              color: #222;
              text-decoration: none;
            }

            small {
                display: block;
                font-size: 0.5em;
                text-transform: none;
            }
        }
    }

  .page-header {
    font-family: $sansFontFamily;
  }
}
