-r requirements.txt
-r exampleproject/requirements.txt

django-debug-toolbar
Werkzeug
South==0.7.3


ipython
ipdb


# app requirements
lxml


# for the initial population of institutions
# requests
# text processing
# nltk
# numpy
# pyquery
requests
