# example project
Django==1.4
armstrong.core.arm-layout==1.1.1
django-extensions
django-debug-toolbar
pinax-theme-bootstrap


# use last good ipython that worked with shell_plus, must go before ipdb
ipython==0.10.2
ipdb




# for the initial population of institutions
# lxml==2.3.4
# requests==0.13.1
# text processing
# nltk
# numpy
