-r requirements.txt
-r exampleproject/requirements.txt

django-debug-toolbar
Werkzeug


# use last good ipython that worked with shell_plus, must go before ipdb
ipython
ipdb


# app requirements
lxml


# for the initial population of institutions
# requests
# text processing
# nltk
# numpy
requests
