-r requirements.txt

csvkit
django-debug-toolbar
Werkzeug
South==0.7.3


# app requirements
lxml


# for the initial population of institutions
# requests
# text processing
# nltk
# numpy
# pyquery
requests
