#example project
Django==1.5.8
project-runpy==0.3.1
psycopg2
armstrong.core.arm-layout==1.1.1
django-object-actions==0.5.0
django-extensions
https://github.com/texastribune/tt-glossary/archive/master.tar.gz
Pillow==2.5.3
geopy
# DELETEME make this an api call instead of a database integration
tx-lege-districts==0.4.0

# heroku
dj-database-url==0.3.0

# dev requirements
csvkit
docopt==0.6.2
South==0.7.3

# app requirements
lxml

# for the initial population of institutions
# requests
# text processing
# nltk
# numpy
# pyquery
requests
