# example project
Django==1.4
armstrong.core.arm-layout==1.1.1
django-extensions
django-debug-toolbar
-e git://github.com/crccheck/pinax-theme-bootstrap.git@5db381d#egg=pinax_theme_bootstrap-dev

# use last good ipython that worked with shell_plus, must go before ipdb
ipython==0.10.2
ipdb


# app requirements
lxml==2.3.4


# for the initial population of institutions
# requests==0.13.1
# text processing
# nltk
# numpy
