{% extends "site_base.html" %}
{% load layout_helpers humanize %}


{% block main %}
  {% render_model object "table" %}

  <h3>Price Trends</h3>
  Tuition: (year &ndash; in-state / out-of-state)
  <ul>
    {% for year in object.pricetrend_set.all %}
      <li>
        {{ year }} &ndash;
        ${{ year.in_state_tuition_and_fees|intcomma }} /
        ${{ year.out_of_state_tuition_and_fees|intcomma }}
      </li>
    {% endfor %}
  </ul>

  <h3>SAT Scores</h3>
  75th Percentile: (year &ndash; verbal / math)
  <ul>
    {% for year in object.sattestscores_set.all %}
      <li>
        {{ year }} &ndash;
        {{ year.sat_i_verbal_75th_percentile }} /
        {{ year.sat_i_math_75th_percentile }}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
