/* Texas Higher Ed App CSS assumes bootstrap
*/
svg .axis { shape-rendering: crispEdges; }
svg .x.axis line { stroke: #333; }
svg .y.axis line, svg .y.axis path { fill: none; stroke: #000; }

h3 > .page-anchor { visibility: hidden; }

h3:hover > .page-anchor { visibility: visible; }

td small { color: #999; }

td.align-right { text-align: right; }
td.align-right .ui-tablebar { right: 0; }

.ui-tablebar { color: #333; background: #dacd99; }

.onion-item, .onion-legend-item { display: inline-block; text-align: center; width: 100px; }

.nav-pills .onion-legend-item { float: none; }

.funnel { width: 100%; }

.funnel .bar { background: #0074cc; margin: 0 auto; overflow: hidden; text-indent: 110%; }

.ui-onion-item-active .bar { outline: 1px solid black; background: transparent; }
