<table class="table table-bordered table-striped table-condensed" style="width: auto;">
  <thead>
    <tr>
      <th>Year</th>
      <th colspan=3>Graduation Rates</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
      <tr>
        <th>{{ object.display_year }}</th>
        <td style="height: 200px; text-align: center; vertical-align: middle; width: 50px">
          <div style="height: {{ object.bachelor_4yr }}%; text-align: center; top: -1em; position: relative;">
            <span style="">{{ object.bachelor_4yr }}%</span>
            <b style="background: #0074CC; display: block; height: 100%; margin: 0 auto; width: 20px;">&nbsp;</b>
            <span style="">4 Years</span>
          </div>
        </td>
        <td style="height: 200px; text-align: center; vertical-align: middle; width: 50px">
          <div style="height: {{ object.bachelor_5yr }}%; text-align: center; top: -1em; position: relative;">
            <span style="">{{ object.bachelor_5yr }}%</span>
            <b style="background: #0074CC; display: block; height: 100%; margin: 0 auto; width: 20px;">&nbsp;</b>
            <span style="">5 Years</span>
          </div>
        </td>
        <td style="height: 200px; text-align: center; vertical-align: middle; width: 50px">
          <div style="height: {{ object.bachelor_6yr }}%; text-align: center; top: -1em; position: relative;">
            <span style="">{{ object.bachelor_6yr }}%</span>
            <b style="background: #0074CC; display: block; height: 100%; margin: 0 auto; width: 20px;">&nbsp;</b>
            <span style="">6 Years</span>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
