{% extends "site_base.html" %}


{% block opengraph_meta %}
  {{ block.super }}
  <meta property="og:type" content="website" />
  <meta property="og:image" content="http://static.texastribune.org.s3.amazonaws.com/common/tx_highered/icon-opengraph.png" />
{% endblock %}


{% block extra_style %}{{ block.super }}
  <link rel="stylesheet" href="/common/vendor/bootstrap/css/ttstrap.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}tx_highered/css/tx_highered.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}tx_highered/css/jquery-ui-custom.css">
{% endblock %}

{% block extra_head %}{{ block.super }}
  <!-- Tribune Data Apps TypeKit -->
  <script src="http://use.typekit.com/rbc7eex.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
{% endblock %}

{% block body_class %}data-app higher-ed{% endblock %}

{% block body_base %}
  <div class="bootstrap">
    {% block body %}
      <div id="highered-header" class="page-header app-header">
        {% block facebook_recommend %}
          {% comment %}
          TODO: Enable once on the Tribune
          <div class="pull-right fb-recommend">
            {% include "includes/facebook_like_sidebar.html" %}
          </div>
          {% endcomment %}
        {% endblock %}

        <h1>
          <a href="{% url tx_highered:home %}">Higher Education Explorer</a>
          <small>The Texas Tribune's go-to source for higher education data</small>
        </h1>
      </div>

      {% block breadcrumb_base %}
        <ul class="breadcrumb">
          <li>
            <a href="{% url tx_highered:home %}">Home</a>
            <span class="divider">/</span>
          </li>
          {% block breadcrumb_items %}{% endblock %}
        </ul>
      {% endblock %}

      {% block main_base %}
        {% block main %}{% endblock %}
      {% endblock %}
    {% endblock body %}
  </div>
{% endblock body_base %}


{% block extra_script %}{{ block.super }}
  <script src="{{ STATIC_URL }}js/jquery.tablebars.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.onionskin.js"></script>
  <script src="{{ STATIC_URL }}d3/js/d3.v2{% if not debug %}.min{% endif %}.js"></script>
{% endblock %}
