{% extends "site_base.html" %}
{% load staticfiles %}


{% block extra_style %}{{ block.super }}
  <link rel="stylesheet" href="{% static 'tx_highered/css/tx_highered.css' %}" type="text/css">
{% endblock %}


{% block nav %}
  <ul class="nav">
    {# <li><a href="{% url system_list %}">Systems</a></li> #}
    <li><a href="{% url institution_list %}">Directory</a></li>
  </ul>
{% endblock %}


{% block body %}
  {% block main %}
  {% endblock %}
{% endblock %}


{% block extra_script %}{{ block.super }}
  <script src="{% static 'js/jquery.tablebars.js' %}"></script>
  <script src="{% static 'js/jquery.onionskin.js' %}"></script>
{% endblock %}
