{% extends "tx_highered/app_base.html" %}
{% load url from future %}
{% load webdesign %}
{# {% load adsense_tags %} #}

{% block opengraph_meta %}{{ block.super }}
  <meta property="og:title" content="The Texas Tribune Higher Education Explorer">
  <meta property="og:description" content="">
{% endblock %}

{% comment %}
Cargo-culted -- why is this the government-employee-salaries dataApp?

TODO: enable once on the Tribune
{% block adsense_slots %}
  {{ block.super }}
  {% adsense add_slot 'data page' %}
  {% adsense_attrs '' 'dataApp=government-employee-salaries,content=data' %}
{% endblock %}

{% endcomment %}


{% block page_title %}Higher Education Explorer | {{ block.super }}{% endblock %}


{% block breadcrumb_base %}{% endblock %}


{% block main %}
  <div class="row landing">
    <div class="span9">
      <section id="intro">
        <p>
          {% lorem 33 w %}
        </p>
      </section>

      <hr>

      <section class="row-fluid">
        <div class="graphic pull-right">
          <img src="http://s3.amazonaws.com/static.texastribune.org/common/tx_schools/statewide-search-icon.png" />
        </div>

        <div>
          <h2>Search for Institutions</h2>

          <p>
            {% lorem 28 w %}
          </p>


          <form class="form-inline">
            <input type="text" class="q" placeholder="Institution name">
          </form>

        </div>
        <hr>
      </section>

      <div class="row-fluid map-container">
        <div>
          <h2>
            View Institutions Statewide
          </h2>

          {# {% lorem 1 p %} #}

          <button id="statewideZoom" class="btn" style="position:absolute; display:block; margin: 0 auto -40px;">
            Return to statewide view
          </button>

          <div id="mapCanvas"></div>
        </div>
      </div>

    </div>

    <div class="span3">
      <div class="well well-small">
        The <a href="{% url 'tx_highered:home' %}">Higher Education Explorer</a>
        was created with support from the <em>Greater Texas Foundation</em>
      </div>

      <div>
        <img src="http://placehold.it/300x250">
      </div>

      <div style="margin-top: 20px;">
        <img src="http://placehold.it/300x250">
      </div>
    </div>
  </div>

<div id="mapPopupContainer" class="shadow"><h4>Hover over a campus</h4></div>

<script id="mapPopup" type="text/x-handlebars-template">
  <h2>{% templatetag openvariable %}name{% templatetag closevariable %}</h2>
  <h4>{% templatetag openvariable %}city{% templatetag closevariable %}, TX</h4>
</script>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.ie.css" /><![endif]-->

    <style>

    #mapCanvas {
        width: 100%;
        height: 650px;
    }

    #mapPopupContainer {
        font-family: "Helvetica Neue", Arial, sans-serif;
        text-align: center;
        font-size: 14px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1002;
        background-color: #FFFFFF;
        padding: 8px;
        display: none;
    }

    #mapPopupContainer h2 {
        font-size: 1em;
        margin: 0;
        padding: 0;
    }

    #mapPopupContainer h4 {
        font-size: .85em;
        margin: 0;
        padding: 0;
    }

    .shadow {
        -moz-box-shadow:    2px 2px 5px 1px #444444;
        -webkit-box-shadow: 2px 2px 5px 1px #444444;
        box-shadow:         1px 1px 4px 1px #444444;
    }

    </style>

<script src="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet-src.js"></script>
<script src="http://cloud.github.com/downloads/wycats/handlebars.js/handlebars-1.0.0.beta.6.js"></script>
{% endblock %}

{% block extra_script %}{{ block.super }}
<script>
var map_institutions = function(data) {
  var template = Handlebars.compile($("#mapPopup").html()),
      $mapPopupContainer = $("#mapPopupContainer"),
      mapOptions = {
        center: [31.22219703210317, -99.9018131],
        zoom: 6,
        minZoom: 6
      },
      map = L.map('mapCanvas', mapOptions),
      layer = new L.TileLayer("http://{s}.tiles.mapbox.com/v3/texastribune.map-3g2hqvcf/{z}/{x}/{y}.png", {
        subdomains: ["a", "b", "c", "d"]
      }).addTo(map),
      capIcon = L.icon({
        iconUrl: '{{ STATIC_URL }}tx_highered/images/icon-cap.png',
        iconSize: [28, 21],
        iconAnchor: [14, 11.5],
        popupAnchor: [14, 11.5]
      });

  // Create a feature for each institution
  $.each(data, function(i, institution) {
    if (institution.geojson) {
      L.geoJson(institution.geojson, {
        pointToLayer: function(feature, latlng) {
          var marker = L.marker(latlng, {icon: capIcon});
          return marker;
        },
        onEachFeature: function(feature, layer) {
          var data = feature.properties;
          layer.on("mouseover", function(_) {
            $mapPopupContainer.html(template({
              name: institution.name,
              city: institution.city
            }));
          });
          layer.on("mouseout", function(_) {
            $mapPopupContainer.html("<h4>Hover over a campus</h4>");
          });
          layer.on("click", function() {
            window.location.href = institution.uri;
          });
        }
      }).addTo(map);
    }
  });

  $("#statewideZoom").on("click", function() {
    map.setView(mapOptions.center, mapOptions.zoom);
  });

  // add popup container
  $mapPopupContainer.appendTo("#mapCanvas").css("display", "inline");
};

var autocomplete_institutions = function(data) {
  // Map intitution names to URIs
  var urisByName = {};
  $.map(data, function(o) {
    urisByName[o.name] = o.uri;
  });

  // Initialize autocomplete
  $(".q").autocomplete({
    source: $.map(data, function(n) { return n.name; }),
    select: function(e, o) {
      var uri = urisByName[o.item.label];
      if (typeof(uri) !== "undefined") {
        location.href = uri;
      }
    }
  });
}

// Patch jQuery autocomplete to filter using fuzzy matching
$.ui.autocomplete.filter = function(array, term) {
  term = $.ui.autocomplete.escapeRegex(term)
  var matcher = new RegExp(term.split('').join('.*'), 'i');
  return $.grep( array, function(value) {
    return matcher.test( value.label || value.value || value );
  });
};

$(function() {
    // Go to the server for institution API data
    $.get("{% url 'tx_highered:institution_api' %}?fields=city,geojson", function(data) {
      autocomplete_institutions(data);
      map_institutions(data);
    });
  });
</script>
{% endblock %}
