{% extends "tx_highered/app_base.html" %}
{% load url from future %}
{% load webdesign %}
{# {% load adsense_tags %} #}

{% block opengraph_meta %}{{ block.super }}
  <meta property="og:title" content="The Texas Tribune Higher Education Explorer">
  <meta property="og:description" content="">
{% endblock %}

{% comment %}
Cargo-culted -- why is this the government-employee-salaries dataApp?

TODO: enable once on the Tribune
{% block adsense_slots %}
  {{ block.super }}
  {% adsense add_slot 'data page' %}
  {% adsense_attrs '' 'dataApp=government-employee-salaries,content=data' %}
{% endblock %}

{% endcomment %}


{% block page_title %}Higher Education Explorer | {{ block.super }}{% endblock %}


{% block breadcrumb %}{% endblock %}


{% block main %}
  <div class="row">
    <div class="span9">
      <section id="intro">
        <p>
          {% lorem 1 p %}
        </p>
      </section>

      <hr>

      <section class="row-fluid">
        <div class="graphic pull-right">
          <img src="http://placehold.it/150x150">
        </div>

        <div>
          <h2>Search for Institutions</h2>

          {% lorem 1 p %}


          <form class="form-inline">
            <input type="text" class="q" placeholder="Institution name">
          </form>

        </div>
      </section>

    </div>

    <div class="span3">
      <div class="well well-small">
        The <a href="{% url 'tx_highered:home' %}">Higher Education Explorer</a>
        was created with support from the <em>AWESOME Foundation</em>
      </div>

      <div>
        <img src="http://placehold.it/300x250">
      </div>

      <div style="margin-top: 20px;">
        <img src="http://placehold.it/300x250">
      </div>
    </div>
  </div>

{% endblock %}

{% block extra_script %}{{ block.super }}
  <script>
    $(function() {
      // Patch jQuery autocomplete to filter using fuzzy matching
      $.ui.autocomplete.filter = function(array, term) {
        term = $.ui.autocomplete.escapeRegex(term)
        var matcher = new RegExp(term.split('').join('.*'), 'i');
        return $.grep( array, function(value) {
          return matcher.test( value.label || value.value || value );
        });
      };

      // Go to the server for name-URI
      $.get("{% url 'tx_highered:autocomplete_api' %}", function(data) {
        // Map intitution names to URIs
        var urisByName = {};
        $.map(data, function(o) {
          urisByName[o.name] = o.uri;
        });

        // Initialize autocomplete
        $(".q").autocomplete({
          source: $.map(data, function(n) { return n.name; }),
          select: function(e, o) {
            var uri = urisByName[o.item.label];
            if (typeof(uri) !== "undefined") {
              location.href = uri;
            }
          }
        });
      });
    });
  </script>
{% endblock %}
