{% extends "tx_highered/app_base.html" %}
{% load webdesign %}


{% block head_title %}Home{% endblock %}


{% block main %}
{% lorem 2 p %}

<section>
  <div class="row">
    <div class="span2">
      <ul class="unstyled">
        {% for i in "123456789012" %}
          <li><a href="#">{% lorem 3 w random %}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="span8">
        <img src="http://placekitten.com/620/400">
        <h2>{% lorem 4 w random %}</h2>
      <section>
        <form class="well form-search">
          <input type="text" class="span6 search-query">
          <button class="btn" type="submit">Search</button>
        </form>
      </section>
    </div>
    <div class="span2">
      <ul class="unstyled">
        {% for i in "123456789012" %}
          <li><a href="#">{% lorem 3 w random %}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

{% for i in "12" %}
  <section>
    <div class="row">
      {% for j in "123" %}
        <div class="span4">
          <img src="http://placekitten.com/320/240" style="margin: 0 auto;">
          <h3>
            {% lorem 4 w random %}
          </h3>
        </div>
      {% endfor %}
    </div>
  </section>
{% endfor %}
{% endblock %}
