{% extends "tx_highered/app_base.html" %}
{% load layout_helpers humanize simple_charts %}


{% block head_title %}{{ object.name }}{% endblock %}


{% block main %}
  {% render_model object "table" %}

  <h3>Price Trends</h3>
  {% simple_chart object "pricetrend_set" %}

  <h3>SAT Scores</h3>
  {% simple_chart object "sattestscores_set" %}

  <h3>ACT Scores</h3>
  75th Percentile: (year &ndash; english / math / composite)
  <ul>
    {% for year in object.acttestscores_set.all %}
      <li>
        {{ year }} &ndash;
        {{ year.act_english_75th_percentile }} /
        {{ year.act_math_75th_percentile }} /
        {{ year.act_composite_75th_percentile }}
      </li>
    {% endfor %}
  </ul>

  <h3>Admissions</h3>
  Year, % admitted, % of admitted who enrolled
  <ul>
    {% for year in object.admissions_set.all %}
      <li>
        {{ year }} &ndash;
        {{ year.percent_of_applicants_admitted }}%
        {{ year.percent_of_admitted_who_enrolled }}%
      </li>
    {% endfor %}
  </ul>

  <h3>Enrollment</h3>
  {% simple_chart object "enrollmentbystudentlevel_set" %}
{% endblock %}
