{% extends "tx_highered/app_base.html" %}
{% load webdesign %}


{% block head_title %}Institutions{% endblock %}


{% block main %}
<header class="page-header">
  <h1>Directory</h1>
</header>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">...</a></li>
    <li><a href="#">...</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Type
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#">University</a></li>
        <li><a href="#">Community College</a></li>
        <li><a href="#">Health-Related</a></li>
        <li><a href="#">Junior College</a></li>
      </ul>
    </li>
  </ul>
{% for object in object_list %}
  <div class="row">
    <div class="span9">
      <h2>
        <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
        {% if object.system %}
          <small>
            {{ object.system }}
          </small>
        {% endif %}
      </h2>
      {{ object.type }}
      {% lorem 1 p %}
    </div>
    <div class="span3">
      <div class="thumbnail">
        <img src="http://placekitten.com/300/168">
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}
