{% extends "tx_highered/two_column_base.html" %}
{% load layout_helpers humanize instachart %}
{% load webdesign %}


{% block head_title %}{{ object.name }}{% endblock %}
{% block page_title %}{{ object.name }}{% endblock %}


{% block main %}
  {% if object.wikipedia_abstract %}
    <div class="wikipedia-abstract">
      <small>From <a class="external" href="{{ object.wikipedia_url }}" target="_blank">Wikipedia</a>:</small>
      {{ object.wikipedia_abstract|safe }}
      <p>
        <small class="attribution cc">
          Text is available under the <a href="//en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License" rel="license">Creative Commons Attribution-ShareAlike License</a><a style="display:none;" href="//creativecommons.org/licenses/by-sa/3.0/" rel="license"></a>;
          {{ object.wikipedia_scraped }}
        </small>
    </p>
    </div>
  {% endif %}
  {% lorem 3 p %}

  <section id="pricetrends">
    <header>
      <h3>Price Trends</h3>
    </header>
    {% instachart object.pricetrends_set.all %}
  </section>

  <h3>Test Scores</h3>
  {% instachart object.testscores_set.all "testscores" %}

  <section id="admissions">
    <h3>Admissions <small><a href="#admissions"><i class="icon-share"></i></a></small></h3>
    {% instachart object.admissions_set.all %}
  </section>

  <h3>Enrollment</h3>
  {% instachart object.enrollment_set.all %}

  <h3>Graduation Rates</h3>
  {% instachart object.graduationrates_set.all "graduationrates" %}

  <div class="onion">
    <div class="onion-toggle btn">Fold</div>
    <div class="onion-basket">
      {% for funnel in object.funnels %}
        <div class="onion-item">
          <table class="funnel">
            <tr><td><div class="bar" style="width: {{ funnel.0 }}%"> {{ funnel.0 }} </td></tr>
            <tr><td><div class="bar" style="width: {{ funnel.1 }}%"> {{ funnel.1 }} </td></tr>
            <tr><td><div class="bar" style="width: {{ funnel.2 }}%"> {{ funnel.2|floatformat }} </td></tr>
          </table>
        </div>
      {% endfor %}
    </div>
    <div class="nav nav-pills onion-legend">
      {% for funnel in funnels %}
        <li class="onion-legend-item">
          <a href="#">{{ funnel.year }}</a>
        </li>
      {% endfor %}
    </div>
  </div>
{% endblock %}


{% block rail %}
  {% if object.wikipedia_seal %}
    <div class="thumbnail">
      <img src="{{ MEDIA_URL }}{{ object.wikipedia_seal }}">
    </div>
  {% endif %}
  {% if object.wikipedia_logo %}
    <div class="thumbnail">
      <img src="{{ MEDIA_URL }}{{ object.wikipedia_logo }}">
    </div>
  {% endif %}
  {% render_model object "table" %}
{% endblock %}

{% block extra_style %}{{ block.super }}
<style>
  .ui-tablebar { color: #333; background: #DACD99; }
  .onion { }
  .onion-item, .onion-legend-item { display: inline-block; text-align: center; width: 100px; }
  .nav-pills .onion-legend-item { float: none; }
  .funnel { width: 100%; }
  .funnel .bar { background: #0074CC; margin: 0 auto; overflow: hidden; text-indent: 110%; }
  .ui-onion-item-active .bar { outline: 1px solid black; background: transparent; }
</style>
{% endblock %}


{% block extra_script %}{{ block.super }}
<script>
  $('table').tablebars();
  $(".onion").onionize();
</script>
{% endblock %}
