{% extends "tx_highered/app_base.html" %}

{% block body %}
  {% block breadcrumb_base %}
    <ul class="breadcrumb">
      <li><a href="#TODO">Home</a><span class="divider">/</span></li>
      {% block breadcrumb %}{% endblock %}
    </ul>
  {% endblock %}

  <header class="page-header">
    <h1>{% block page_title %}{% endblock %}</h1>
  </header>

  <div class="row">
    <div class="span12">
      {% block page_top %}{% endblock %}
    </div>
  </div>

  <div class="row">
    <div class="span12">
      {% block main %}{% endblock %}
    </div>
  </div>

{% endblock %}
