{% extends "tx_highered/app_base.html" %}
{% load url from future %}


{% block opengraph_meta %}{{ block.super }}
  <meta property="og:title" content="The Texas Tribune Higher Education Explorer">
  <meta property="og:description" content="The Texas Tribune Higher Education Explorer captures data on all 148 public and private colleges and universities in the state. Combining key academic, enrollment and financial records, this database collects and presents statistics about Texas’ institutions of higher learning in a way that is easy to understand and simple to navigate.">
{% endblock %}


{% block adsense_slots %}{{ block.super }}
  {% include "tx_highered/includes/app_meta.html" %}
{% endblock %}


{% block main_base %}
  <div class="row landing">
    <div class="span8">
      {% block main %}
      {% endblock %}
    </div>

    <div class="span4">
      <div class="well well-small presented_by" style="font-size: 85%; padding: 1em;">
        The <a href="{% url 'tx_highered:home' %}">Higher Education Explorer</a>
        was created with support from the Greater Texas Foundation.
        <div style="border-width: 1px 0px; border-style: solid; padding: 0.5em 0px; border-color: rgb(204, 204, 204); margin: 1em 0px;">
          <a class="external" target="_blank" href="http://greatertexasfoundation.org/">
            <img src="//s3.amazonaws.com/static.texastribune.org/apps/highered/greater-texas-foundation-276x168.png" alt="">
          </a>
        </div>
        <a href="{% url 'tx_highered:home' %}about/">Learn more about the Higher Education Explorer</a>
      </div>

      {% include "tx_highered/includes/home_rail.html" %}
    </div>
  </div>
{% endblock %}
